---
layout: minimal
title: "Teaching Team"
permalink: /about
description: "People behind ID5415"
---

<section class="author" itemprop="author">
    <img itemprop="image" src="/assets/img/logo/tudelft.png" style="max-width:200px" alt="TU Delft">
    <img itemprop="image" src="/assets/img/logo/IoT_RPL_Logo_Positive.png" style="max-width:200px" alt="IoT Rapid-Proto Labs">
    <img itemprop="image" src="/assets/img/logo/logosbeneficaireserasmusright_en.jpg" style="max-width:200px" alt="Erasmus +">
    The European Commission's support for the production of this publication does not constitute an endorsement of the contents, which reflect the views only of the authors, and the Commission cannot be held responsible for any use which may be made of the information contained therein.    
</section>

{% for staff_member in site.staff_members %}
<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
       <img itemprop="image" class="img-rounded" src="{{ staff_member.img }}" style="max-width: 200px;" alt="{{ staff_member.name }}">
       <h3 class="name">
           <a itemprop="name" href="{{ staff_member.link }}">{{ staff_member.name }}</a>
        </h3>
        <p class="desc">{{ staff_member.position }}<br/>{{ staff_member.content }}</p>
        {% if staff_member.mail != null %}
        <p><a itemprop="email" class="email" href="mailto:{{ staff_member.mail }}">{{ staff_member.mail }}</a></p>
        {% endif %}
        <!-- <p><a itemprop="github" class="github" href="https://github.com/{{site.github_username}}">github.com/{{site.github_username}}</a></p> -->
    </div>
</section>
{% endfor %}

